################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TacoCatMVC.csproj.user
/.vs
/obj
